<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{if .IsPage}}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ .Site.Params.Author }}",
    "creator" : "{{ .Site.Params.Author }}",
    "publisher": "{{ .Site.Params.Author }}",
    "accountablePerson" : "{{ .Site.Params.Author }}",
    "copyrightHolder" : "{{ .Site.Params.Author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "dateModified" : "{{ .Date.Format "2006-01-02" }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
}
</script>